In [2]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import Google API Key
from config import gkey

In [4]:
# Create a DataFrame from the cities csv
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Lincoln,AU,2022-10-01 16:53:47,-34.7333,135.8667,56.30,86,11,7.90
1,1,Arraial Do Cabo,BR,2022-10-01 16:53:47,-22.9661,-42.0278,75.16,64,40,17.27
2,2,Chuy,UY,2022-10-01 16:51:12,-33.6971,-53.4616,64.65,63,18,9.55
3,3,Zhuhai,CN,2022-10-01 16:50:31,22.2769,113.5678,82.18,89,40,12.66
4,4,Erenhot,CN,2022-10-01 16:53:47,43.6475,111.9767,62.04,45,19,9.75

In [5]:
# NOTE: Data used for gmaps must be integer or floating point, so double check the df data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your google API key
gmaps.configure(api_key=gkey)

In [ ]:
# Adjust Heatmap Zoom, Intensity, and Point Radius

# Zoom:
# Add the geographic center of Earth in lat/lng format (30.0, 31.0) + add zoom level so that only one map is shown
    # fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# Intensity - refer to gmaps documentation for the information below:
# Add max_intensity to make each measurement have a better gradient variance.
    # heat_layer = gmaps.heatmap_layer(..., ..., ..., max_intensity=300, ...)

# Dissipation:    
# The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
    #heat_layer = gmaps.heatmap_layer(..., ..., dissipating=False, ..., ...)

# Point radius:
# Add point_radius to make each measurement radius larger.
    # heat_layer = gmaps.heatmap_layer(..., ..., ..., ..., point_radius=4)

In [18]:
# CREATE HEAT MAP FOR MAX TEMP

# Assign the locations variable to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]] # Recall, use double brackets when pulling 2 columns

# Get the max temp - use forloop to iterate thru max_temp and add temps greater than 0 deg F to a new list
# Necessary as  Google heatmaps do not plot negative numbers, so must remove to avoid error message
max_temp = city_data_df["Max Temp"]
temps = []

# Assign the figure variable to gmaps.figure() attribute. Add the geographic center of Earth in lat/lng format (30.0, 31.0) + add zoom level so that only one map is shown
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# Assign the heatmap layer variable to heatmap_layer attribute & add in the locations. Set the weight (intensity of colour in heat map) as the max_temp
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) # code will get the largest value of either temp or 0 (if temp is less than 0, a 0 value is added in it's place)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# CREATE HEAT MAP FOR HUMIDITY

# Assign the locations variable to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]] # Recall, use double brackets when pulling 2 columns

# Get the max temp - use forloop to iterate thru max_temp and add temps greater than 0 deg F to a new list
# Necessary as  Google heatmaps do not plot negative numbers, so must remove to avoid error message
humidity = city_data_df["Humidity"]

# Assign the figure variable to gmaps.figure() attribute. Add the geographic center of Earth in lat/lng format (30.0, 31.0) + add zoom level so that only one map is shown
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# Assign the heatmap layer variable to heatmap_layer attribute & add in the locations. Set the weight (intensity of colour in heat map) as the max_temp
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4) # code will get the largest value of either temp or 0 (if temp is less than 0, a 0 value is added in it's place)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# CREATE HEAT MAP FOR CLOUDINESS

# Assign the locations variable to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]] # Recall, use double brackets when pulling 2 columns

# Get the max temp - use forloop to iterate thru max_temp and add temps greater than 0 deg F to a new list
# Necessary as  Google heatmaps do not plot negative numbers, so must remove to avoid error message
clouds = city_data_df["Cloudiness"]

# Assign the figure variable to gmaps.figure() attribute. Add the geographic center of Earth in lat/lng format (30.0, 31.0) + add zoom level so that only one map is shown
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# Assign the heatmap layer variable to heatmap_layer attribute & add in the locations. Set the weight (intensity of colour in heat map) as the max_temp
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4) # code will get the largest value of either temp or 0 (if temp is less than 0, a 0 value is added in it's place)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# CREATE HEAT MAP FOR WIND SPEED

# Assign the locations variable to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]] # Recall, use double brackets when pulling 2 columns

# Get the max temp - use forloop to iterate thru max_temp and add temps greater than 0 deg F to a new list
# Necessary as  Google heatmaps do not plot negative numbers, so must remove to avoid error message
wind = city_data_df["Wind Speed"]

# Assign the figure variable to gmaps.figure() attribute. Add the geographic center of Earth in lat/lng format (30.0, 31.0) + add zoom level so that only one map is shown
fig = gmaps.figure(center=(30,31), zoom_level=1.5)

# Assign the heatmap layer variable to heatmap_layer attribute & add in the locations. Set the weight (intensity of colour in heat map) as the max_temp
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4) # code will get the largest value of either temp or 0 (if temp is less than 0, a 0 value is added in it's place)

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# GET VACATION CRITERIA

# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [26]:
# Filter the max temp in the city_data_df using logical operators to create a new df that meets customers criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & \
                                        (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Arraial Do Cabo,BR,2022-10-01 16:53:47,-22.9661,-42.0278,75.16,64,40,17.27
3,3,Zhuhai,CN,2022-10-01 16:50:31,22.2769,113.5678,82.18,89,40,12.66
8,8,Butaritari,KI,2022-10-01 16:53:49,3.0707,172.7902,81.52,76,100,15.46
20,20,Kalabo,ZM,2022-10-01 16:53:53,-14.9700,22.6814,82.58,12,11,7.45
24,24,Agua Verde,MX,2022-10-01 16:53:54,22.9000,-106.0500,84.06,71,23,1.41
30,30,Hilo,US,2022-10-01 16:53:56,19.7297,-155.0900,79.29,59,13,1.77
40,40,Kunnamkulam,IN,2022-10-01 16:54:00,10.6500,76.0833,76.19,87,100,4.07
43,43,Samarai,PG,2022-10-01 16:54:01,-10.6167,150.6667,81.23,74,6,10.45
44,44,Touros,BR,2022-10-01 16:54:02,-5.1989,-35.4608,83.46,62,18,19.64
51,51,Gat,IL,2022-10-01 16:51:01,31.6100,34.7642,84.40,100,0,7.63

In [28]:
# Check that there are no null values in new Dataframe
preferred_cities_df.isnull().sum()

City_ID       192
City          192
Country       190
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [29]:
# Drop null values and double check
preferred_cities_df = preferred_cities_df.dropna()

preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [31]:
# MAP VACATION CRITERIA - 1. Get travel destinations

# Create a df to store hotel names along with city, country, max temp, and coordinates (make a copy of preferred df)
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# Add a new column to store hotel names
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1   Arraial Do Cabo      BR     75.16 -22.9661  -42.0278
3            Zhuhai      CN     82.18  22.2769  113.5678
8        Butaritari      KI     81.52   3.0707  172.7902
20           Kalabo      ZM     82.58 -14.9700   22.6814
24       Agua Verde      MX     84.06  22.9000 -106.0500
30             Hilo      US     79.29  19.7297 -155.0900
40      Kunnamkulam      IN     76.19  10.6500   76.0833
43          Samarai      PG     81.23 -10.6167  150.6667
44           Touros      BR     83.46  -5.1989  -35.4608
51              Gat      IL     84.40  31.6100   34.7642

In [34]:
# 2. Retrieve hotels from a nearby search

# Set the parameters for a nearby hotel search
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey}

# Iterate through the dataframe using iterrows() function
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the lat and lng to location key for the params dict
    params["location"] = f"{lat},{lng}"
    
    # Use the search term "lodging" and our lat and lng for the request url. Write out base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name in hotel name column of df
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found.. skipping")
hotel_df.head(10)

Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,75.16,-22.9661,-42.0278,Pousada Porto Praia
3,Zhuhai,CN,82.18,22.2769,113.5678,珠海粤财假日酒店
8,Butaritari,KI,81.52,3.0707,172.7902,Isles Sunset Lodge
20,Kalabo,ZM,82.58,-14.9700,22.6814,Sikakubete Guest House Kalabo Town Council
24,Agua Verde,MX,84.06,22.9000,-106.0500,
30,Hilo,US,79.29,19.7297,-155.0900,Hilo Hawaiian Hotel
40,Kunnamkulam,IN,76.19,10.6500,76.0833,OYO 881 Fort Gate
43,Samarai,PG,81.23,-10.6167,150.6667,Nuli Sapi
44,Touros,BR,83.46,-5.1989,-35.4608,INN NEW HORIZON
51,Gat,IL,84.40,31.6100,34.7642,OlusHome

In [ ]:
# Info box syntax:

# info_box_template = """
# <dl> 
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

    # the dl tag is a description list
    # the dt tag is a term or name that is nested under the dl tag
    # the dd tag is used to define the term or name of dt tag
    
    # Writing the tags on paper would look like:
    # Description list <dl>
        # Description term <dt>
            # Descritopion definition <dd>
        
        # Description term <dt>
            # Description definition <dd>

In [38]:
# Add a pop up marker for each city that displays: hotel name, city name, country, and maximum temperature.

# Add an info box template with hotel name, city name, country code and max temp values from hotel df as <dd>
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# CREATE MAX TEMP HEAT MAP FROM HOTEL DF

# Add a heatmap of temp + markers for each cityfor the vacation spots and a pop up marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))