# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

In [4]:
# Configure gmaps
gmaps.configure(api_key=gkey)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [5]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../vacation_search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
0,1,Bambous Virieux,MU,73.22,broken clouds,-20.3428,57.7575,Casa Tia Villa
1,2,Hithadhoo,MV,81.72,broken clouds,-0.6000,73.0833,Scoop Guest House
2,5,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,6,Mikuni,JP,75.11,clear sky,36.2171,136.1519,Seifuso
4,7,Rikitea,PF,73.69,clear sky,-23.1203,-134.9692,People ThankYou

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [6]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [8]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Long"]]

In [10]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [18]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start = vacation_df.loc[vacation_df["City"] == "Port Lincoln"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Port Lincoln"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Port Augusta"] 
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Broken Hill"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Murray Bridge"]

In [41]:
# Show sample of DataFrame
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
46,84,Port Lincoln,AU,66.76,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [30]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Long"].to_numpy()[0]
print(f"Trip Start: {start}")

end = vacation_end["Lat"].to_numpy()[0], vacation_end["Long"].to_numpy()[0]
print(f"Trip End: {end}")

stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Long"].to_numpy()[0]
print(f"Trip Stop 1: {stop1}")

stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Long"].to_numpy()[0]
print(f"Trip Stop 2: {stop2}")

stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Long"].to_numpy()[0]
print(f"Trip Stop 3: {stop3}")

Trip Start: (-34.7333, 135.8667)
Trip End: (-34.7333, 135.8667)
Trip Stop 1: (-32.5, 137.7667)
Trip Stop 2: (-31.95, 141.4333)
Trip Stop 3: (-35.1167, 139.2667)

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [36]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [37]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Long,Hotel Name
0,84,Port Lincoln,AU,66.76,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
1,704,Port Augusta,AU,79.43,overcast clouds,-32.5000,137.7667,Majestic Oasis Apartments
2,425,Broken Hill,AU,71.51,broken clouds,-31.9500,141.4333,Royal Exchange Hotel
3,556,Murray Bridge,AU,77.34,broken clouds,-35.1167,139.2667,Balcony On Sixth Lodge

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [38]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Long"]]

In [39]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))